.backOfMohel {
  height: 350px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 233, 233);
  margin: 210px 0px;
}

.imageofmohel {
  margin: 0px 0px 0px 0px;
  width: 350px;
  border-radius: 12px;
}

.wordsActual {
  font-family: helvetica;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(19, 19, 19);
  padding: 0px 0px 0px 75px;
}

.templateMainSectionContent {
  box-shadow: inset 0 0 0 2000px rgba(36, 36, 36, 0.644);
  position: center;
  background: url('images/mohel1.jpeg');
  background-size: cover;
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.templateMainHeading {
  color: rgb(236, 236, 236);
  font-size: 60px;
  font-family: Lora;
  font-weight: 500;
  border-bottom: 1.4px solid rgb(238, 238, 238);
  padding: 0px 8% 0px 8%;
}

.innerAboutTheMohel {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1100px) {
  .wordsActual {
    font-size: 12px;
  }
}

@media only screen and (max-width: 900px) {
  .backOfMohel {
    /* flex-direction: column; */
    width: 95%;
    border-radius: 12px;
    height: 100%;
    margin: auto;
    padding: 15px;
  }

  .imageofmohel {
    padding: 60px 20px 20px 20px;
    margin: 0px 0px 0px 0px;
    width: 90%;
    border-radius: 12px;
  }

  .wordsActual {
    width: 90%;
    font-size: 15px;
    font-weight: 400;
    padding: 20px 20px;
  }

  .templateMainHeading {
    font-size: 40px;
    font-weight: 400;
    padding: 0px 6% 0px 6%;
  }

  .innerAboutTheMohel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
