.articleIndividualDiv {
  max-width: 550px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 80px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 18px;
  transition-duration: 2000ms;
}

.articleIndividualDiv:hover {
  box-shadow: rgba(26, 26, 145, 0.2) 0px 7px 29px 0px;
  max-width: 650px;
  transition-delay: 100ms;
  transition-duration: 900ms;
}

.articleIndividualHeading {
  padding: 15px 0px;
  font-size: 28px;
}

.articleIndividualP {
  padding: 5px 0px;
  font-family: sans-serif;
  font-size: 14px;
}

.articleIndividualImage {
  padding: 10px 0px;
}

.articleIndividualWordSource {
  padding-right: 8px;
  margin: 0;
}

.articleIndividualCreditsArea {
  display: flex;
}

@media only screen and (max-width: 900px) {
  .articleIndividualDiv {
    max-width: 92%;
    padding: 60px 10px;
  }

  .articleIndividualDiv:hover {
    max-width: 94%;
    padding: 60px 5px;
  }

  .articleIndividualHeading {
    font-size: 24px;
  }

  .articleIndividualP {
    font-family: sans-serif;
    font-size: 15px;
  }
}
